# Env vars for ARO workshop
export GUID=
export CLIENT_ID=
export PASSWORD=
export TENANT=
export SUBSCRIPTION=
export RESOURCEGROUP=

# Ansible Azure env vars credentials
export AZURE_SUBSCRIPTION_ID="$SUBSCRIPTION"
export AZURE_CLIENT_ID="$CLIENT_ID"
export AZURE_SECRET="$PASSWORD"
export AZURE_TENANT="$TENANT"
